*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: 'Oswald', sans-serif;
    
font-weight: 500;
font-size: 16px;
line-height: 53px;
text-align: center;
text-transform: uppercase;

/* Dark */

color: white;
}
.stylish{
    height: 200px;
    padding-top: 50px;
}
.container
{
    max-width: 1100px;
    margin:0 auto;
    border:3px solid red;
}
.logo img
{
   border:3px solid red;
}
.nav_button
{
    border:3px solid red;
    padding: 20px;
    background-color: #F7654A;
}
.nav_button span{
    display: block;
    width: 25px;
    height: 2px;
    background-color: black;
    margin-top: 5px;
}
.asdf{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.header{
    background-image: url(../img/Rectangle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.ola h1{
    font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 4em;
line-height: 95px;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;
max-width: 734px;
margin: 0 auto;
padding-top: 112px;
}
.ola p{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 1,125em;  /* 18 / 16  = em*/
line-height: 27px;
text-align: center;
text-transform: uppercase;
padding-top: 35px;

}
.narinke{
    background-color: white;
    padding: 57px 130px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px 30px;
    transform: translate(0px, -125px);
}
.llll h2 span{
display: block;
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 4.5em;
line-height: 107px;
text-align: center;
text-transform: uppercase;
color: #F7654A;
}
.llll h2 p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 2.25em;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: black;
}
.llll p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125em;
    line-height: 27px;
    text-align: center;
    color: gray;
}
/*------------------------------------------ 
Responsive Grid Media Queries - 1280, 1024, 768, 
480 1280-1024 - desktop (default grid) 1024-768 - 
tablet landscape 768-480 - tablet 480-less - 
phone landscape & smaller 
--------------------------------------------*/ 
@media all and (min-width: 1024px) and (max-width: 1280px) {

} 
@media all and (min-width: 768px) and (max-width: 1024px) { 

} 
@media all and (min-width: 480px) and (max-width: 768px) { 

} 
@media all and (max-width: 480px) {
    .ola h1{
        color: red;
        line-height: 25px;
    }
    body {
        font-size: 5px;
    }
    .ola p{
        color: red;
        line-height: 22px;
    }
    body{
        font-size: 1,125em;
    }
}